---
interface Props {
  title: string;
  description: string;
  downloadUrl: string;
}

const { description, downloadUrl, title } = Astro.props;
---

<header class="header-bar">
  <!-- Title -->
  <div class="header-title">
    <h1>{title}</h1>
    <h3>{description}</h3>
  </div>
  <!-- Menu -->
  <nav class="header-menu">
    <ul>
      <li><a href="/" title="View in english">en</a></li>
      <li><a href="/es" title="View in spanish">es</a></li>
      <li>
        <a href={downloadUrl} title="Download in PDF version" download="">
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
            ></path>
            <path
              d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/alexserver/soft-skills"
          title="View on github"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header-bar {
    @apply sticky top-0 left-0 w-full p-3 bg-white border-b shadow-sm border-b-slate-200 md:p-8;
  }
  .header-title {
    @apply text-center;
  }
  .header-title h1 {
    @apply text-5xl text-indigo-800;
  }
  .header-title h3 {
    @apply text-base italic text-slate-600;
  }
  .header-menu {
    @apply absolute py-6 top-3 left-3 md:py-6 md:top-8 md:left-8;
  }
  .header-menu ul {
    @apply flex gap-3 list-none;
  }
</style>
