---
const { title, description } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Oswald:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="sticky top-0 left-0 w-full p-3 bg-white border-b shadow-sm header border-b-slate-200 md:p-8 "
    >
      <nav class="absolute py-6 top-3 left-3 md:py-6 md:top-8 md:left-8">
        <ul class="flex gap-2 list-none">
          <li><a href="/">en</a></li>
          <li><a href="/es">es</a></li>
        </ul>
      </nav>
      <div class="text-center">
        <h1 class="text-5xl text-indigo-800 uppercase">{title}</h1>
        <h3 class="text-base italic text-slate-600">{description}</h3>
      </div>
    </div>

    <div
      class="container max-w-4xl p-8 mx-auto my-0 text-left bg-white md:my-10 md:p-14 md:border md:border-gray-300 md:rounded-lg md:shadow-xl"
    >
      <slot />
    </div>
  </body>
</html>
<style is:global>
  body {
    font-family: "Oswald", sans-serif;
    @apply text-slate-700 text-base;
  }

  h1 {
    @apply text-indigo-800 text-2xl;
  }

  h2 {
    @apply text-indigo-800 text-2xl  mt-5 mb-1;
  }

  p {
    @apply text-slate-700;
    font-family: "Montserrat", sans-serif;
  }
</style>
