---
const { title, description } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container mx-auto max-w-4xl bg-white py-10 text-center">
      <h1 class="text-5xl text-indigo-800 uppercase">{title}</h1>
      <h3 class="italic text-base text-slate-600">{description}</h3>
      <nav class=" fixed right-8 top-8 w-auto">
        <ul class=" list-none flex gap-2">
          <li><a href="/">en</a></li>
          <li><a href="/es">es</a></li>
        </ul>
      </nav>
      <div
        class="doc-body container max-w-3xl mx-auto p-16 rounded-lg border border-gray-300 shadow-xl text-left mt-8"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  body {
    font-family: 'Oswald', sans-serif;
    @apply text-slate-700 text-base;
  }

  h1 {
    @apply text-indigo-800 text-2xl;
  }

  h2 {
    @apply text-indigo-800 text-2xl  mt-5 mb-1;
  }

  p {
    @apply text-slate-700;
    font-family: "Montserrat", sans-serif;
  }
</style>
